<form nz-form [formGroup]="formGroup" (ngSubmit)="submit()">
    <nz-layout>
        <nz-header class="layout-header">
            <nz-page-header nzTitle="Profile" nzBackIcon="false">
                <nz-page-header-extra>
                    <button nz-button nzType="primary" nzDanger type="submit">Enregistrer</button>
                </nz-page-header-extra>
            </nz-page-header>
        </nz-header>
        <nz-content class="layout-content">
            <nz-card>
                
            </nz-card>
        </nz-content>
    </nz-layout>
</form>